@import url(http://fonts.googleapis.com/css?family=Buenard:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.easing, .home-btn a, .home-btn a:hover, .job-posting, .job-posting:hover {
  -moz-transition: all 350ms ease;
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease; }

.container {
  max-width: 960px;
  width: 100%;
  margin: auto; }

.splash {
  background-color: #111;
  padding: 100px 0px 100px 0px; }

.home-h1 {
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 45pt;
  margin: 50px 0px 0px 0px; }

.home-p {
  text-align: center;
  color: #fff;
  font-weight: 100;
  font-size: 20pt;
  margin: 50px 0px 0px 0px; }

.home-small-p {
  font-size: 10pt;
  color: #999;
  text-align: center;
  margin: 20px 0px 0px 0px; }

.home-btn {
  text-align: center;
  margin: 50px 0px 0px 0px; }
  .home-btn a {
    display: inline-block;
    background-color: #fff;
    text-align: center;
    color: #111;
    text-decoration: none;
    padding: 20px;
    font-weight: 900;
    font-size: 20pt; }
    .home-btn a:hover {
      background-color: #ddd; }

.key {
  text-align: center;
  margin: 50px 0px 0px 0px; }
  .key li {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 15pt;
    font-weight: bold;
    color: #fff;
    margin: 0px 5px 0px 5px; }

.dev {
  border-left: 5px solid #479cc0; }

.design {
  border-left: 5px solid #47c04a; }

.business {
  border-left: 5px solid #c04747; }

.job-posting {
  background-color: #fff;
  padding: 50px 0px 50px 0px; }
  .job-posting:hover {
    background-color: #ddd; }

.job-title,
.job-date,
.job-company,
.job-location,
.job-salary {
  line-height: 2; }

.job-title a {
  color: #111;
  font-size: 20pt;
  text-decoration: none;
  font-weight: 900;
  padding: 0px 0px 20px 0px;
  border-bottom: 2px solid #ccc; }
