@import url(http://fonts.googleapis.com/css?family=Buenard:400,700);

$serif: "Buenard", serif;
$sans: "Helvetica Neue", Helvetica, Arial, sans-serif;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
	display: block;
}

body{
	line-height: 1;
	font-family: $sans;
}

ol, ul{
	list-style: none;
}

blockquote, q{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after{
	content: '';
	content: none;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
	max-width: 960px;
	width: 100%;
	margin: auto;
}

.splash{
	background-color: #111;
	padding: 100px 0px 100px 0px;
}

.home-h1{
	text-align: center;
	color: #fff;
	font-weight: 900;
	font-size: 45pt;
	margin: 50px 0px 0px 0px;
}

.home-p{
	text-align: center;
	color: #fff;
	font-weight: 100;
	font-size: 20pt;
	margin: 50px 0px 0px 0px;
}

.home-btn{
	text-align: center;
	margin: 50px 0px 0px 0px;

	a{
		display: inline-block;
		background-color: #fff;
		text-align: center;
		color: #111;
		text-decoration: none;
		padding: 20px;
		font-weight: 900;
		font-size: 20pt;
	}
}
